<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/img/weather.png">

    <title>US Currency Comparison</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to compare prices to Canada!</p>
        <form id="cad">
            <input placeholder="Canadian Price" id="cadPrice">
        </form>
        <p id="cadmessage1"></p>
        <p id="cadmessage2"></p>
        <form id="usd">
            <input placeholder="US Price" id="usPrice">
            <button>Convert</button>
        </form>
        <p id="usmessage1"></p>
        <p id="usmessage2"></p>
    </div>
    {{>footer}}
    <script src="js/app.js"></script>
</body>

</html>